.card p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  color: #1f1f1f;
  margin-top: 12px;
  transition: 0.3s ease;
}
.card:hover p {
  color: #b76e79;
}